<!DOCTYPE html>
<html __MANIFEST__>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> __VIEWPORT__
    <title>__GAME_NAME__</title>
</head>

<body>
    <script src="data.js"></script>
    <script src="picDesc.js"></script>
    <script src="__URLMAP___PUBLISH"></script>
    <script src="lib/phaser.min.js"></script>
    <script src="lib/webfontloader.js"></script>
    <script src="lib/qc-core-min.js"></script>
    <script src="lib/qc-webgl.js"></script>
    __PLAYSMART_EDITOR_DATA__
    <script src="__ASSET___PUBLISH"></script>
    __LANGUAGES_MGR___PUBLISH
    __PUBLISH_USER_SCRIPTS__

    <style>
        html, body {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
        }
    </style>
<div style="overflow:hidden;padding:0;margin:0;width:100%;height:100%;">
<div id="gameDiv" style="position:relative;"></div>
</div>
<script src="lib/qc-loading-debug.js"></script>
</body>

</html>